In [2]:
import netCDF4 as nc
import numpy as np
import pandas as pd
import scipy.io as sio
import matplotlib.pyplot as plt

In [3]:
fn = r"C:\Users\ratho\Desktop\Software Group Project - III\Climate Data Modelling\RIDDHI\old_code_summer_internship_may2020\sst\ersst.190303.nc"
ds = nc.Dataset(fn)
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    Conventions: CF-1.6
    Metadata_Conventions: CF-1.6, Unidata Dataset Discovery v1.0
    metadata_link: C00884
    id: ersst.190303
    naming_authority: gov.noaa.ncdc
    title: NOAA ERSSTv3b (in situ only)
    summary: ERSST.v3b is developped based on Smith and Reynolds 2003
    institution: NOAA/NESDIS/NCEI/CCOG
    creator_name: Boyin Huang
    creator_email: boyin.huang@noaa.gov
    date_modified: 2017/01/27
    production_version: Version 5
    history: Fri Jan 27 08:57:44 2017: ncatted -O -a _FillValue,ssta,o,f,-999.0 ssta.nc
Version 5 based on Version 4
    publisher_name: Boyin Huang
    publisher_email: boyin.huang@noaa.gov
    creator_url: http://www.ncdc.noaa.gov
    license: No constraints on data access or use
    time_coverage_start: 1903-03-15T000000Z
    time_coverage_end: 1903-03-15T000000Z
    geospatial_lon_min: -1.0
    geospatial_lon_max: 359.0
    geospatial_lat_min: -89.0
    geospatial_lat_max: 89.0
    geospatial_lat_units: degrees_north
    geospatial_lat_resolution: 2.0
    geospatial_lon_units: degrees_east
    geospatial_lon_resolution: 2.0
    spatial_resolution: 2.0 degree grid
    cdm_data_type: Grid
    processing_level: L4
    standard_name_vocabulary: CF Standard Name Table v27
    keywords: Earth Science &gt; Oceans &gt; Ocean Temperature &gt; Sea Sur face Temperature &gt
    keywords_vocabulary: NASA Global Change Master Directory (GCMD) Science Keywords
    project: NOAA Extended Reconstructed Sea Surface Temperature (ERSST)
    platform: Ship and Buoy SSTs from ICOADS R2.5 and NCEP GTS
    instrument: Conventional thermometers
    source: ICOADS R2.5 SST, NCEP GTS SST, HadISST ice, NCEP ice
    comment: SSTs were observed by conventional thermometers in Buckets (in sulated or un-insulated canvas and wooded buckets), Engine Room Intakers, or floats and drifters
    references: Smith, T.M., and R.W. Reynolds, 2003: Extended Reconstruction of Global Sea Surface Temperatures Based on COADS Data (1854-1997). Journal of Climate, 16, 1495-1510.
    climatology: Climatology is based on 1971-2000 SST, Xue, Y., T. M. Smith, and R. W. Reynolds, 2003: Interdecadal changes of 30-yr SST normals during 1871.2000. Journal of Climate, 16, 1601-1612.
    description: In situ data: ICOADS2.5 before 2007, NCEP in situ data from 2008 to present. Ice data: HadISST ice before 2015 and NCEP ice after 2015.
    dimensions(sizes): lat(89), lev(1), lon(180), time(1)
    variables(dimensions): float64 lat(lat), float64 lev(lev), float64 lon(lon), float32 sst(time, lev, lat, lon), float64 time(time), float32 ssta(time, lev, lat, lon)
    groups:

In [4]:
import xarray as xr

In [5]:
data = xr.open_dataset(r"C:\Users\ratho\Desktop\Software Group Project - III\Climate Data Modelling\RIDDHI\old_code_summer_internship_may2020\sst\ersst.190303.nc")
print(data)

<xarray.Dataset>
Dimensions:  (lat: 89, lev: 1, lon: 180, time: 1)
Coordinates:
  * lat      (lat) float64 -88.0 -86.0 -84.0 -82.0 -80.0 ... 82.0 84.0 86.0 88.0
  * lev      (lev) float64 0.0
  * lon      (lon) float64 0.0 2.0 4.0 6.0 8.0 ... 350.0 352.0 354.0 356.0 358.0
  * time     (time) datetime64[ns] 1903-03-01
Data variables:
    sst      (time, lev, lat, lon) float32 ...
    ssta     (time, lev, lat, lon) float32 ...
Attributes: (12/41)
    Conventions:                CF-1.6
    Metadata_Conventions:       CF-1.6, Unidata Dataset Discovery v1.0
    metadata_link:              C00884
    id:                         ersst.190303
    naming_authority:           gov.noaa.ncdc
    title:                      NOAA ERSSTv3b (in situ only)
    ...                         ...
    instrument:                 Conventional thermometers
    source:                     ICOADS R2.5 SST, NCEP GTS SST, HadISST ice, N...
    comment:                    SSTs were observed by conventional thermomete...
    references:                 Smith, T.M., and R.W. Reynolds, 2003: Extende...
    climatology:                Climatology is based on 1971-2000 SST, Xue, Y...
    description:                In situ data: ICOADS2.5 before 2007, NCEP in ...

In [6]:
print(data['sst'])

<xarray.DataArray 'sst' (time: 1, lev: 1, lat: 89, lon: 180)>
[16020 values with dtype=float32]
Coordinates:
  * lat      (lat) float64 -88.0 -86.0 -84.0 -82.0 -80.0 ... 82.0 84.0 86.0 88.0
  * lev      (lev) float64 0.0
  * lon      (lon) float64 0.0 2.0 4.0 6.0 8.0 ... 350.0 352.0 354.0 356.0 358.0
  * time     (time) datetime64[ns] 1903-03-01
Attributes:
    long_name:      Extended reconstructed sea surface temperature
    standard_name:  SST
    units:          degree_C
    valid_min:      -3.0
    valid_max:      45.0

In [7]:
import numpy as np
from netCDF4 import Dataset
from mpl_toolkits.basemap import Basemap

In [8]:
file = r"C:\Users\ratho\Desktop\Software Group Project - III\Climate Data Modelling\RIDDHI\old_code_summer_internship_may2020\sst\ersst.190303.nc"
data = Dataset(file,mode='r')
print(type(data))
print(data.variables.keys())

<class 'netCDF4._netCDF4.Dataset'>
dict_keys(['lat', 'lev', 'lon', 'sst', 'time', 'ssta'])

In [9]:
lats = data.variables['lat'][:]
levs = data.variables['lev'][:]
lons = data.variables['lon'][:]
sst = data.variables['sst'][:]
time = data.variables['time'][:]
ssta = data.variables['ssta'][:]

In [10]:
sst.shape

(1, 1, 89, 180)

In [19]:
mp = Basemap(projection='mill',
             lat_ts = 10,
             llcrnrlon=np.min(lons),   # lower longitude
             llcrnrlat=np.min(lats),    # lower latitude
             urcrnrlon=np.max(lons),   # uppper longitude
             urcrnrlat=np.max(lats),   # uppper latitude
            resolution = 'i')

In [20]:
lon,lat = np.meshgrid(lons,lats)
x,y = mp(lon,lat)

plt.figure(figsize=(12,9))
c_schemes = mp.pcolor(x,y,np.squeeze(sst[0,:,:]),cmap = 'jet') # [0,:,:] is for the first day of the year)

    
#Consider this as the outline for the map that is to be created 
mp.drawcoastlines()
mp.drawstates()
mp.drawcountries()

cbar = mp.colorbar(c_schemes,location='right',pad = '5%') # map information
plt.title('Sea Surface Temperature Of The Year 1854')
plt.show()

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed

In [13]:
sst.shape

(1, 1, 89, 180)

In [14]:
sst = sst.reshape(89,180)
X = pd.DataFrame(sst)
X.tail()

,0,1,2,3,4,5,6,7,8,9,...,170,171,172,173,174,175,176,177,178,179
84,-1.726355,-1.537736,-1.547805,-0.794303,-0.15267,-0.704197,-1.336439,-1.599502,-1.631955,-1.777844,...,NaN,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8
85,-1.800000,-1.800000,-1.800000,-1.800000,-1.80000,-1.800000,-1.800000,-1.800000,-1.800000,-1.800000,...,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8
86,-1.800000,-1.800000,-1.800000,-1.800000,-1.80000,-1.800000,-1.800000,-1.800000,-1.800000,-1.800000,...,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8
87,-1.800000,-1.800000,-1.800000,-1.800000,-1.80000,-1.800000,-1.800000,-1.800000,-1.800000,-1.800000,...,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8
88,-1.800000,-1.800000,-1.800000,-1.800000,-1.80000,-1.800000,-1.800000,-1.800000,-1.800000,-1.800000,...,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8,-1.8

In [15]:
lon

masked_array(
  data=[[  0.,   2.,   4., ..., 354., 356., 358.],
        [  0.,   2.,   4., ..., 354., 356., 358.],
        [  0.,   2.,   4., ..., 354., 356., 358.],
        ...,
        [  0.,   2.,   4., ..., 354., 356., 358.],
        [  0.,   2.,   4., ..., 354., 356., 358.],
        [  0.,   2.,   4., ..., 354., 356., 358.]],
  mask=False,
  fill_value=1e+20)